<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Other head elements -->
    <script src="https://cdn.jsdelivr.net/npm/dropzone@5.9.3/dist/min/dropzone.min.js"></script>
</head>
<body>
    {{ __body__ }}
</body>
</html>
